* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  --background:#333;
  --headerFont:white;
  --paragraphFont:#D3D3D3;
  background-color:var(--background);
  font-size:1rem;
}

h1{

  font-size: 1.3rem;
  color:var(--headerFont);
  font-weight: 600; 
}

.title{
  text-align:center;
}

p{
  color:var(--paragraphFont);
}
img{
  position:center;
}
.logo{
  height:20%;
  width:40%;
  margin-left:auto;
  margin-right:auto;
}
.responsiveImg{
  max-width:100%;
  height:auto;
}


@media screen and (max-width: 1068px) {
  .logo{
    width:60%;
    margin-left:auto;
    margin-right:auto;
  } 
  .h1{
    font-size:0.8rem;
  }
  body{
    font-size:0.9rem;
  }
  
  
}
